body {
    background-image: url(fondoc.jpg);
}
div img {
    width: 180px;
    margin-top: 10px;
}
div {
    background-color: white;
    text-align: center;
}

section {
    display: flex;
    justify-content:center;
    column-gap: 70px;
}